nodered_flow.json
[
  {
    "id": "tab1",
    "type": "tab",
    "label": "Fire Safety Monitor",
    "disabled": false,
    "info": "Real-time IoT Fire Safety Dashboard - MQTT from ESP32, ESP8266, Pico W"
  },
  {
    "id": "hivemq_broker",
    "type": "mqtt-broker",
    "name": "HiveMQ Public Broker",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "nodered_firesafety_monitor",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "sessionExpiry": ""
  },
  {
    "id": "ui_tab1",
    "type": "ui_tab",
    "name": "Fire Safety Dashboard",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "grp_gas",
    "type": "ui_group",
    "name": "Gas Detection - ESP32",
    "tab": "ui_tab1",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "grp_temp",
    "type": "ui_group",
    "name": "Temperature - ESP8266",
    "tab": "ui_tab1",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "grp_motion",
    "type": "ui_group",
    "name": "Motion Detection - Pico W",
    "tab": "ui_tab1",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "grp_alerts",
    "type": "ui_group",
    "name": "System Alerts Log",
    "tab": "ui_tab1",
    "order": 4,
    "disp": true,
    "width": "12",
    "collapse": false
  },

  {
    "id": "n_mqtt_gas",
    "type": "mqtt in",
    "z": "tab1",
    "name": "fire/gas",
    "topic": "fire/gas",
    "qos": "1",
    "datatype": "auto",
    "broker": "hivemq_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 100,
    "y": 100,
    "wires": [["n_fn_gas"]]
  },
  {
    "id": "n_fn_gas",
    "type": "function",
    "z": "tab1",
    "name": "Process Gas",
    "func": "var payload = msg.payload;\nvar value = 0;\nvar status = 'SAFE';\nvar leakDetected = false;\n\n// Parse payload - supports number, string, or JSON object\nif (typeof payload === 'number') {\n    value = payload;\n} else if (typeof payload === 'string') {\n    var lower = payload.toLowerCase().trim();\n    if (lower === 'leak' || lower === 'alert' || lower === '1' || lower === 'true') {\n        value = 850; leakDetected = true;\n    } else if (lower === 'safe' || lower === '0' || lower === 'false') {\n        value = 80;\n    } else {\n        value = parseFloat(payload) || 0;\n    }\n} else if (typeof payload === 'object' && payload !== null) {\n    value = payload.value || payload.ppm || payload.adc || 0;\n}\n\n// Threshold logic (ADC-based: 0-1023)\nif (value > 400 || leakDetected) {\n    status = 'GAS LEAK DETECTED!';\n    leakDetected = true;\n} else if (value > 200) {\n    status = 'WARNING: Elevated Gas';\n} else {\n    status = 'SAFE';\n}\n\nflow.set('gas_value', value);\nflow.set('gas_status', status);\nflow.set('gas_alert', leakDetected);\n\n// Output 1: gauge value\n// Output 2: status text\n// Output 3: LED bool\n// Output 4: alert check\nreturn [{ payload: value }, { payload: status }, { payload: leakDetected }, msg];",
    "outputs": 4,
    "noerr": 0,
    "x": 300,
    "y": 100,
    "wires": [
      ["n_gauge_gas"],
      ["n_text_gas"],
      ["n_led_gas"],
      ["n_fn_alert_check"]
    ]
  },
  {
    "id": "n_gauge_gas",
    "type": "ui_gauge",
    "z": "tab1",
    "name": "Gas Gauge",
    "group": "grp_gas",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Gas Level (ADC)",
    "label": "ADC",
    "format": "{{value}}",
    "min": 0,
    "max": 1023,
    "colors": ["#00e676", "#ffab00", "#ff1744"],
    "seg1": 200,
    "seg2": 400,
    "className": "",
    "x": 540,
    "y": 60,
    "wires": []
  },
  {
    "id": "n_text_gas",
    "type": "ui_text",
    "z": "tab1",
    "group": "grp_gas",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "Gas Status",
    "label": "Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 540,
    "y": 100,
    "wires": []
  },
  {
    "id": "n_led_gas",
    "type": "ui_led",
    "z": "tab1",
    "name": "Gas LED",
    "group": "grp_gas",
    "order": 3,
    "width": 2,
    "height": 1,
    "label": "Gas Leak Alert",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {"color": "#00e676", "value": false, "valueType": "bool"},
      {"color": "#ff1744", "value": true, "valueType": "bool"}
    ],
    "allowColorForValueInMessage": false,
    "className": "",
    "x": 540,
    "y": 140,
    "wires": []
  },

  {
    "id": "n_mqtt_temp",
    "type": "mqtt in",
    "z": "tab1",
    "name": "fire/temp",
    "topic": "fire/temp",
    "qos": "1",
    "datatype": "auto",
    "broker": "hivemq_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 100,
    "y": 260,
    "wires": [["n_fn_temp"]]
  },
  {
    "id": "n_fn_temp",
    "type": "function",
    "z": "tab1",
    "name": "Process Temperature",
    "func": "var payload = msg.payload;\nvar temp = 25;\nvar status = 'NORMAL';\nvar alert = false;\n\nif (typeof payload === 'number') {\n    temp = payload;\n} else if (typeof payload === 'string') {\n    temp = parseFloat(payload) || 25;\n} else if (typeof payload === 'object' && payload !== null) {\n    temp = payload.temperature || payload.temp || payload.value || 25;\n}\n\n// Fire safety temperature thresholds\nif (temp >= 60) {\n    status = 'FIRE ALERT! CRITICAL';\n    alert = true;\n} else if (temp >= 45) {\n    status = 'HIGH TEMP WARNING';\n    alert = true;\n} else if (temp >= 35) {\n    status = 'ELEVATED TEMP';\n} else {\n    status = 'NORMAL';\n}\n\nflow.set('temp_value', temp);\nflow.set('temp_status', status);\nflow.set('temp_alert', alert);\n\nreturn [{ payload: temp }, { payload: status }, { payload: alert }, msg];",
    "outputs": 4,
    "noerr": 0,
    "x": 300,
    "y": 260,
    "wires": [
      ["n_gauge_temp"],
      ["n_text_temp"],
      ["n_led_temp"],
      ["n_fn_alert_check"]
    ]
  },
  {
    "id": "n_gauge_temp",
    "type": "ui_gauge",
    "z": "tab1",
    "name": "Temp Gauge",
    "group": "grp_temp",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Temperature",
    "label": "°C",
    "format": "{{value}}°C",
    "min": -10,
    "max": 100,
    "colors": ["#00b0ff", "#ffab00", "#ff1744"],
    "seg1": 35,
    "seg2": 45,
    "className": "",
    "x": 540,
    "y": 220,
    "wires": []
  },
  {
    "id": "n_text_temp",
    "type": "ui_text",
    "z": "tab1",
    "group": "grp_temp",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "Temp Status",
    "label": "Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 540,
    "y": 260,
    "wires": []
  },
  {
    "id": "n_led_temp",
    "type": "ui_led",
    "z": "tab1",
    "name": "Temp LED",
    "group": "grp_temp",
    "order": 3,
    "width": 2,
    "height": 1,
    "label": "Temp Alert",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {"color": "#00e676", "value": false, "valueType": "bool"},
      {"color": "#ff1744", "value": true, "valueType": "bool"}
    ],
    "allowColorForValueInMessage": false,
    "className": "",
    "x": 540,
    "y": 300,
    "wires": []
  },

  {
    "id": "n_mqtt_motion",
    "type": "mqtt in",
    "z": "tab1",
    "name": "fire/motion",
    "topic": "fire/motion",
    "qos": "1",
    "datatype": "auto",
    "broker": "hivemq_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 100,
    "y": 420,
    "wires": [["n_fn_motion"]]
  },
  {
    "id": "n_fn_motion",
    "type": "function",
    "z": "tab1",
    "name": "Process Motion",
    "func": "var payload = msg.payload;\nvar detected = false;\nvar status = 'NO MOTION';\n\nif (typeof payload === 'boolean') {\n    detected = payload;\n} else if (typeof payload === 'number') {\n    detected = payload === 1;\n} else if (typeof payload === 'string') {\n    var lower = payload.toLowerCase().trim();\n    detected = (lower === '1' || lower === 'true' || lower === 'motion' || lower === 'detected' || lower === 'yes');\n} else if (typeof payload === 'object' && payload !== null) {\n    detected = !!(payload.motion || payload.detected || payload.value);\n}\n\nstatus = detected ? 'MOTION DETECTED!' : 'AREA CLEAR';\nvar count = (flow.get('motion_count') || 0);\nif (detected) count++;\nflow.set('motion_count', count);\nflow.set('motion_status', status);\nflow.set('motion_alert', detected);\n\nreturn [{ payload: count }, { payload: status }, { payload: detected }, msg];",
    "outputs": 4,
    "noerr": 0,
    "x": 300,
    "y": 420,
    "wires": [
      ["n_chart_motion"],
      ["n_text_motion"],
      ["n_led_motion"],
      ["n_fn_alert_check"]
    ]
  },
  {
    "id": "n_chart_motion",
    "type": "ui_chart",
    "z": "tab1",
    "name": "Motion Chart",
    "group": "grp_motion",
    "order": 1,
    "width": 6,
    "height": 4,
    "label": "Motion Events Count",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "step",
    "nodata": "Waiting for data...",
    "dot": true,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "100",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#ff1744", "#00e676", "#ffab00", "#00b0ff"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 540,
    "y": 380,
    "wires": [[]]
  },
  {
    "id": "n_text_motion",
    "type": "ui_text",
    "z": "tab1",
    "group": "grp_motion",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "Motion Status",
    "label": "Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 540,
    "y": 420,
    "wires": []
  },
  {
    "id": "n_led_motion",
    "type": "ui_led",
    "z": "tab1",
    "name": "Motion LED",
    "group": "grp_motion",
    "order": 3,
    "width": 2,
    "height": 1,
    "label": "Motion Alert",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {"color": "#00e676", "value": false, "valueType": "bool"},
      {"color": "#ff1744", "value": true, "valueType": "bool"}
    ],
    "allowColorForValueInMessage": false,
    "className": "",
    "x": 540,
    "y": 460,
    "wires": []
  },

  {
    "id": "n_fn_alert_check",
    "type": "function",
    "z": "tab1",
    "name": "Combine Alert Status",
    "func": "var gasAlert = flow.get('gas_alert') || false;\nvar tempAlert = flow.get('temp_alert') || false;\nvar motionAlert = flow.get('motion_alert') || false;\nvar gasStatus = flow.get('gas_status') || 'SAFE';\nvar tempStatus = flow.get('temp_status') || 'NORMAL';\nvar motionStatus = flow.get('motion_status') || 'AREA CLEAR';\n\nvar anyAlert = gasAlert || tempAlert || motionAlert;\nvar messages = [];\nif (gasAlert) messages.push('[GAS] ' + gasStatus);\nif (tempAlert) messages.push('[TEMP] ' + tempStatus);\nif (motionAlert) messages.push('[MOTION] ' + motionStatus);\n\nvar alertText = anyAlert\n    ? '⚠ ALERT: ' + messages.join(' | ')\n    : '✔ All systems NORMAL';\n\nmsg.payload = alertText;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 560,
    "y": 560,
    "wires": [["n_text_alerts", "n_notification_alert"]]
  },
  {
    "id": "n_text_alerts",
    "type": "ui_text",
    "z": "tab1",
    "group": "grp_alerts",
    "order": 1,
    "width": 12,
    "height": 1,
    "name": "System Alert Banner",
    "label": "System Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 800,
    "y": 540,
    "wires": []
  },
  {
    "id": "n_notification_alert",
    "type": "ui_toast",
    "z": "tab1",
    "position": "top right",
    "displayTime": "3",
    "highlight": "#ff1744",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "className": "",
    "name": "Alert Notification",
    "x": 800,
    "y": 580,
    "wires": []
  },

  {
    "id": "n_inject_sim_gas",
    "type": "inject",
    "z": "tab1",
    "name": "Simulate Gas (TEST)",
    "props": [{"p": "payload"}],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 600,
    "wires": [["n_fn_sim_gas"]]
  },
  {
    "id": "n_fn_sim_gas",
    "type": "function",
    "z": "tab1",
    "name": "Generate Test Gas",
    "func": "// Simulates gas sensor readings for testing\nvar values = [80, 120, 250, 450, 850, 300, 100, 80];\nvar idx = (flow.get('sim_gas_idx') || 0) % values.length;\nflow.set('sim_gas_idx', idx + 1);\nmsg.payload = values[idx];\nmsg.topic = 'fire/gas';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 600,
    "wires": [["n_mqtt_pub_test"]]
  },
  {
    "id": "n_inject_sim_temp",
    "type": "inject",
    "z": "tab1",
    "name": "Simulate Temp (TEST)",
    "props": [{"p": "payload"}],
    "repeat": "7",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 650,
    "wires": [["n_fn_sim_temp"]]
  },
  {
    "id": "n_fn_sim_temp",
    "type": "function",
    "z": "tab1",
    "name": "Generate Test Temp",
    "func": "var values = [25, 28, 32, 38, 47, 65, 40, 28];\nvar idx = (flow.get('sim_temp_idx') || 0) % values.length;\nflow.set('sim_temp_idx', idx + 1);\nmsg.payload = values[idx];\nmsg.topic = 'fire/temp';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 650,
    "wires": [["n_mqtt_pub_test"]]
  },
  {
    "id": "n_inject_sim_motion",
    "type": "inject",
    "z": "tab1",
    "name": "Simulate Motion (TEST)",
    "props": [{"p": "payload"}],
    "repeat": "4",
    "crontab": "",
    "once": true,
    "onceDelay": "3",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 700,
    "wires": [["n_fn_sim_motion"]]
  },
  {
    "id": "n_fn_sim_motion",
    "type": "function",
    "z": "tab1",
    "name": "Generate Test Motion",
    "func": "var values = [0, 0, 1, 0, 1, 1, 0, 1, 0];\nvar idx = (flow.get('sim_motion_idx') || 0) % values.length;\nflow.set('sim_motion_idx', idx + 1);\nmsg.payload = values[idx];\nmsg.topic = 'fire/motion';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 700,
    "wires": [["n_mqtt_pub_test"]]
  },
  {
    "id": "n_mqtt_pub_test",
    "type": "mqtt out",
    "z": "tab1",
    "name": "Publish Test Data",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "hivemq_broker",
    "x": 540,
    "y": 650,
    "wires": []
  },

  {
    "id": "n_inject_timestamp",
    "type": "inject",
    "z": "tab1",
    "name": "Heartbeat (1min)",
    "props": [{"p": "payload"}],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 760,
    "wires": [["n_fn_timestamp"]]
  },
  {
    "id": "n_fn_timestamp",
    "type": "function",
    "z": "tab1",
    "name": "Format Timestamp",
    "func": "var d = new Date();\nmsg.payload = 'Last update: ' + d.toLocaleTimeString();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 760,
    "wires": [["n_text_timestamp"]]
  },
  {
    "id": "n_text_timestamp",
    "type": "ui_text",
    "z": "tab1",
    "group": "grp_alerts",
    "order": 2,
    "width": 12,
    "height": 1,
    "name": "Timestamp",
    "label": "Heartbeat",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 540,
    "y": 760,
    "wires": []
  }
]
